<!DOCTYPE html>
<html lang="en">
<head>
    <title>404</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="drzymala.dev">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,800" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
</head>
<body>
<div class="s005">
    <form role="search" id="form">
        <fieldset>
            <legend>404 – DU HAST DICH VERFAHREN …</legend>
            <div class="inner-form">
                <div class="input-field">
                        <A HREF="https://betriebsstellen.herokuapp.com/betriebsstelle/"><legend>Klicke hier - Zurück zur letzter Station …</legend></A>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script src="./js/extention/choices.js"></script>
</body>
</html>